main {
    display: flex;
    justify-content: center;
    padding: 100px;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.3s all ease-in-out;
}

.choice-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    height: 40rem;
    width: 40rem;
    border-radius: 100%;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(0, 0, 0, 0.1)
}

.choice-section a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    position: relative;
    padding: 40px 40px 40px 40px;
    width: 50%;
    height: 50%;
    color: rgb(0, 0, 0);
    border: 10px whitesmoke solid;
    transition: all 0.2s ease-in-out;
}

.icon {
    font-size: 2em;
    margin-bottom: 10px;
}

.choice-section a:nth-child(1) {
    border-top-left-radius: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: var(--primary-light);
}

.choice-section a:nth-child(2) {
    border-top-right-radius: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: var(--secondary-light);
}

.choice-section a:nth-child(3) {
    border-bottom-left-radius: 100%;
    align-items: flex-start;
    padding-left: 18%;
    background-color: var(--accent-color);
}

.choice-section a:nth-child(4) {
    border-bottom-right-radius: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 11%;
    background-color: var(--success-color);
}

main div a:hover {
    border: 0px whitesmoke solid;
}