.topSchedule {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 0 0 10px 10px;
    color: var(--background-white);
    border-bottom: 4px solid var(--text-color);
}

.topSchedule button {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--background-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.topSchedule button:hover {
    background-color: var(--secondary-dark);
}